{% extends 'base.html' %}


{% block content %}
    {% if validlink %}
        <form action="" method="POST">
            {% csrf_token %}
            <div style="margin: 50px 100px; margin-left: 30%;">
                رمز عبور جدید : 
                <label>{{ form.new_password1 }}</label><br>
                تکرار رمز عبور : 
                <label style="margin-top: 20px;">{{ form.new_password2 }}</label><br>
                <input style="margin: 30px 160px;" type="submit" value="عوض کردن">
            </div>
        </form>
    {% else %}
        <p>این لینک معتبر نیست . مجددا تلاش کنید</p>
    {% endif %}
{% endblock %}
